@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
* {
  margin: 0;
}

body {
  position: relative;
}

a {
  text-decoration: none;
}

.header_container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 183px 26px 157px;
}
.header_container .header .logo_container {
  width: 181px;
  height: 25px;
}
.header_container .header .logo_container img {
  width: 100%;
  height: 100%;
}
.header_container .header .header_sections {
  display: flex;
  justify-content: space-between;
}
.header_container .header .header_sections div {
  margin: 0 40px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #16283E;
  cursor: pointer;
}
.header_container .header .header_contacts div {
  display: flex;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #16283E;
}
.header_container .header .header_contacts div:hover {
  text-decoration: underline;
  transition: 0.4s;
}

.banner {
  height: 635px;
  background-image: url("../banner.svg");
}
.banner .banner_container {
  width: 100%;
  height: 100%;
  background: rgba(26, 46, 70, 0.75);
}
.banner .banner_container .banner_content {
  padding: 156px 181px;
}
.banner .banner_container .banner_content .banner_title {
  width: 500px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
}
.banner .banner_container .banner_content .banner_description {
  margin: 20px 0;
  padding: 18px 0;
  width: 660px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.banner .banner_container .banner_content .banner_btn {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: #ffffff;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  background-color: #C20000;
  border-radius: 5px;
  outline: none;
  width: 260px;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
}
.banner .banner_container .banner_content .banner_btn:hover {
  box-shadow: 1px 2px 8px 1px #000000;
}

.whywe_container .whywe {
  padding: 100px 181px 100px 181px;
}
.whywe_container .whywe .whywe_title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 44px;
  text-transform: capitalize;
  color: #000000;
}
.whywe_container .whywe .whywe_description {
  display: flex;
  justify-content: space-around;
  margin-top: 67px;
}
.whywe_container .whywe .whywe_description .whywe_item {
  text-align: center;
  width: 250px;
}
.whywe_container .whywe .whywe_description .whywe_item .whywe_item_title {
  margin-top: 21px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #16283E;
  letter-spacing: 1px;
}
.whywe_container .whywe .whywe_description .whywe_item .whywe_item_description {
  margin-top: 12px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: capitalize;
  color: rgba(22, 40, 62, 0.7);
}

.promo_container {
  width: 100%;
  height: 300px;
  background-image: url("./assets/back.svg");
  background-size: cover;
}
.promo_container .promo {
  width: 100%;
  height: 100%;
  background: rgba(26, 46, 70, 0.75);
}
.promo_container .promo .promo_flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 0 181px;
}
.promo_container .promo .promo_flex .promo_item {
  text-align: center;
}
.promo_container .promo .promo_flex .promo_item .promo_title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 67px;
  text-transform: uppercase;
  color: #F9F9F9;
}
.promo_container .promo .promo_flex .promo_item .promo_description {
  margin-top: 29px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #F9F9F9;
  letter-spacing: 0.8px;
}

.catalog_container .catalog {
  padding: 84px 181px;
}
.catalog_container .catalog .catalog_title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #16283E;
  text-align: center;
}
.catalog_container .catalog .catalogs {
  margin-top: 66px;
  display: flex;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block1 {
  margin-right: 10px;
  margin-bottom: 10px;
  background: #EAF1F9;
  border-radius: 10px;
  padding: 24px 33px;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block1 img {
  width: 134px;
  height: 112px;
  object-fit: cover;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block1 .block_title {
  margin-top: 31px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #16283E;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block1 .block_description {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 18px;
  line-height: 22px;
  color: #16283E;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block1 .block_price {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block1 .block_price .price {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #16283E;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block1 .block_price .price .price_num {
  color: #C20002;
  font-weight: bold;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block1 .block_price .block_more {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.4px;
  color: #C20000;
  cursor: pointer;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block1 .block_price .block_more:hover {
  text-decoration: underline;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block2 {
  background: #EAF1F9;
  border-radius: 10px;
  padding: 24px 33px;
  margin-top: 20px;
  margin-right: 10px;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block2 img {
  width: 134px;
  height: 112px;
  object-fit: cover;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block2 .block_title {
  margin-top: 31px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #16283E;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block2 .block_description {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 18px;
  line-height: 22px;
  color: #16283E;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block2 .block_price {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block2 .block_price .price {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #16283E;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block2 .block_price .price .price_num {
  color: #C20002;
  font-weight: bold;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block2 .block_price .block_more {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.4px;
  color: #C20000;
  cursor: pointer;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block2 .block_price .block_more:hover {
  text-decoration: underline;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block3 {
  background: #EAF1F9;
  border-radius: 10px;
  padding: 24px 33px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block3 img {
  width: 134px;
  height: 112px;
  object-fit: cover;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block3 .block_title {
  margin-top: 31px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #16283E;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block3 .block_description {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 18px;
  line-height: 22px;
  color: #16283E;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block3 .block_price {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block3 .block_price .price {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #16283E;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block3 .block_price .price .price_num {
  color: #C20002;
  font-weight: bold;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block3 .block_price .block_more {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.4px;
  color: #C20000;
  cursor: pointer;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block3 .block_price .block_more:hover {
  text-decoration: underline;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block4 {
  background: #EAF1F9;
  border-radius: 10px;
  padding: 24px 33px;
  margin-left: 10px;
  margin-top: 20px;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block4 img {
  width: 134px;
  height: 112px;
  object-fit: cover;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block4 .block_title {
  margin-top: 31px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #16283E;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block4 .block_description {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 18px;
  line-height: 22px;
  color: #16283E;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block4 .block_price {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block4 .block_price .price {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #16283E;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block4 .block_price .price .price_num {
  color: #C20002;
  font-weight: bold;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block4 .block_price .block_more {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.4px;
  color: #C20000;
  cursor: pointer;
}
.catalog_container .catalog .catalogs .catalog_blocks .catalog_block4 .block_price .block_more:hover {
  text-decoration: underline;
}

.slide_title {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #16283E;
  margin-bottom: 70px;
  margin-top: 90px;
}

.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
  background: #EAF1F9;
  box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.03);
}

.mySlides2 {
  display: block;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: -60px;
}

/* Position the "next button" to the right */
.next {
  right: -60px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #cccccc;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #C20000;
}

.dot2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot2:hover {
  background-color: #C20000;
}

.dot3 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot3:hover {
  background-color: #C20000;
}

.dot4 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot4:hover {
  background-color: #C20000;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px;
  }
}
.product_container {
  display: flex;
  padding: 55px;
}
.product_container .product_img {
  width: 180px;
  height: 196px;
}
.product_container .product_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product_container .product_content {
  display: block;
  margin-left: 56px;
}
.product_container .product_content .product_title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #16283E;
}
.product_container .product_content .product_price {
  display: flex;
  margin: 22px 0;
}
.product_container .product_content .product_price .price .price_title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  color: rgba(22, 40, 62, 0.7);
}
.product_container .product_content .product_price .price .price_value {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #C20000;
}
.product_container .product_content .product_description {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #16283E;
}

.mobile_product_description {
  display: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #16283E;
  padding: 20px;
}

.prime_container {
  height: 520px;
  margin-top: 100px;
  background-image: url("./assets/utir.png");
}
.prime_container .prime {
  height: 100%;
  width: 100%;
  background: rgba(22, 40, 62, 0.78);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.prime_container .prime .prime_block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prime_container .prime .prime_block .prime_icon {
  width: 62px;
  height: 62px;
}
.prime_container .prime .prime_block .prime_icon img {
  width: 100%;
  height: 100%;
}
.prime_container .prime .prime_block .prime_title {
  margin-top: 36px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}
.prime_container .prime .prime_block .prime_description {
  margin-top: 19px;
  font-family: "Rubik", sans-serif;
  font-style: italic;
  font-weight: lighter;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  width: 328px;
  height: 86px;
  color: #FFFFFF;
}
.prime_container .prime .prime_block .prime_ball {
  width: 143px;
  height: 26px;
  text-align: center;
}
.prime_container .prime .prime_block .prime_ball img {
  width: 100%;
  height: 100%;
}
.prime_container .prime .prime_block .prime_autor {
  margin-top: 33px;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

.privelegious_container {
  height: 400px;
}
.privelegious_container .priv_title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #16283E;
  text-align: center;
  margin-top: 85px;
}
.privelegious_container .privelegious {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.privelegious_container .privelegious .privelegious_block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.privelegious_container .privelegious .privelegious_block .privelegious_icon {
  width: 94px;
  height: 69px;
}
.privelegious_container .privelegious .privelegious_block .privelegious_icon img {
  width: 100%;
  height: 100%;
}
.privelegious_container .privelegious .privelegious_block .privelegious_title {
  margin-top: 52px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #16283E;
}
.privelegious_container .privelegious .privelegious_block .privelegious_description {
  margin-top: 12px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: capitalize;
  width: 255px;
  height: 49px;
  color: rgba(22, 40, 62, 0.7);
}

.address_container {
  position: absolute;
  width: 478px;
  height: 329px;
  left: 948px;
  top: 60px;
  z-index: 10000;
  background: rgba(26, 46, 70, 0.71);
}
.address_container .address {
  margin-top: 47px;
  margin-left: 54px;
}
.address_container .address .address_title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
}
.address_container .address .address_description {
  margin-top: 14px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 18px;
  line-height: 22px;
  color: #EAEAEA;
}
.address_container .address .address_description span {
  cursor: pointer;
  color: #ffffff;
}
.address_container .address .address_description span:hover {
  text-decoration: underline;
}

.footer_container {
  height: 177px;
  background: #1A2E46;
}
.footer_container .footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px 200px;
  border-bottom: 1px solid #D7D8DB;
}
.footer_container .footer .title {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.footer_container .footer .title:hover {
  text-decoration: underline;
}
.footer_container .footer_conf {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.footer_container .footer_conf .txt_conf {
  font-style: normal;
  font-weight: lighter;
  font-size: 11px;
  line-height: 14px;
  color: #D3D3D3;
}

.mobile_catalogs {
  display: none;
  padding: 20px 10px;
}

.accordion {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  align-items: center;
  background: #EAF1F9;
  border-radius: 8px;
}
.accordion .accrodion_first {
  padding: 18px;
  display: flex;
  align-items: center;
}
.accordion .accrodion_first .first_img {
  width: 43px;
  height: 36px;
}
.accordion .accrodion_first .first_img img {
  width: 100%;
  height: 100%;
}
.accordion .accrodion_first .first_title {
  margin-left: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #16283E;
}
.accordion .second_plus {
  color: #16283E;
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
}

.panel {
  margin-top: -10px;
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  background: #EAF1F9;
  border-radius: 8px;
  padding-bottom: 20px;
}
.panel p {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #16283E;
}
.panel .panel_info {
  margin-top: 27px;
  display: flex;
  justify-content: space-around;
}
.panel .panel_info .panel_price {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.03em;
  color: #16283E;
}
.panel .panel_info .panel_price span {
  font-weight: bold;
  color: #C20000;
}
.panel .panel_info .panel_more {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.03em;
  color: #C20000;
}

.footer2 {
  display: none;
}
.footer2 .footer2_item {
  padding-top: 20px;
}
.footer2 .footer2_item .footer2_title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.footer2 .footer2_item .footer2_desc {
  margin-top: 11px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #EAEAEA;
}

.whatsapp {
  display: none;
  position: fixed;
  width: 35px;
  height: 35px;
  left: 20px;
  bottom: 40px;
  background: #389B42;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.18);
  padding: 9px;
  border-radius: 50%;
}
.whatsapp img {
  width: 100%;
  height: 100%;
}

.phone_bottom {
  display: none;
  position: fixed;
  width: 35px;
  height: 35px;
  right: 20px;
  bottom: 40px;
  background: #389B42;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.18);
  padding: 9px;
  border-radius: 50%;
}
.phone_bottom img {
  width: 100%;
  height: 100%;
}

@media (max-width: 960px) {
  .header {
    padding: 0 !important;
    justify-content: space-around !important;
    height: 100px;
  }

  .header_sections {
    display: none !important;
  }

  .prev {
    display: none;
  }

  .next {
    display: none;
  }

  .catalog {
    padding: 0 !important;
    padding-top: 40px !important;
    display: block;
  }

  .catalogs {
    display: none !important;
    padding: 20px 10px !important;
    margin-top: 30px !important;
  }

  .catalog_block1 {
    margin-right: 0 !important;
  }

  .catalog_block2 {
    margin-right: 0 !important;
  }

  .catalog_block3 {
    margin-top: 20px !important;
    margin-left: 0 !important;
  }

  .catalog_block4 {
    margin-top: 20px !important;
    margin-left: 0 !important;
  }

  .whywe {
    padding: 0 !important;
    padding-top: 40px !important;
  }
  .whywe .whywe_description {
    padding-bottom: 40px;
    margin-top: 0 !important;
    flex-direction: column;
    align-items: center;
  }

  .whywe_item {
    margin-top: 40px !important;
  }

  .prime_container {
    height: auto;
    background-size: cover;
  }
  .prime_container .prime {
    flex-direction: column;
    padding: 30px 0;
  }
  .prime_container .prime .prime_block {
    margin-top: 57px;
  }
  .prime_container .prime .prime_block .prime_autor {
    margin-top: 13px !important;
  }

  .privelegious_container {
    height: auto;
  }
  .privelegious_container .privelegious {
    padding: 50px 0;
    flex-direction: column;
  }
  .privelegious_container .privelegious .privelegious_block {
    margin-top: 40px;
  }

  .banner_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner_container .banner_content {
    padding: 20px !important;
  }

  .banner_title {
    width: auto !important;
    font-size: 24px !important;
    line-height: 40px !important;
  }

  .banner_description {
    width: auto !important;
  }

  .banner_content {
    padding: 0 !important;
  }

  .banner_btn {
    margin: auto;
    width: 100% !important;
  }

  .promo_container {
    height: auto;
  }

  .promo_flex {
    flex-direction: column;
    padding: 0 !important;
    padding-bottom: 57px !important;
  }
  .promo_flex .promo_item {
    margin-top: 57px;
  }
  .promo_flex .promo_item .promo_description {
    margin-top: 10px !important;
  }

  .footer_container {
    height: 260px;
  }

  .footer {
    padding: 50px 0 !important;
  }

  .mobile_catalogs {
    display: block;
  }

  #map {
    height: 227px !important;
  }

  .footer {
    display: none !important;
  }

  .footer_conf {
    display: none !important;
  }

  .footer2 {
    display: block;
    padding: 5px 20px;
  }

  .product_container {
    padding: 10px;
  }

  .product_description {
    display: none;
  }

  .product_price {
    display: block !important;
  }
  .product_price .price {
    margin-top: 10px !important;
    margin-left: 0 !important;
  }

  .product_content {
    width: 60% !important;
    margin-left: 20px !important;
  }

  .mobile_product_description {
    display: block;
  }

  .whatsapp {
    display: block;
  }

  .phone_bottom {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
